::-webkit-scrollbar {
  width: 0px !important;
}

.en {
  width: 30px;
  height: 30px;
  background: url(../img/united-states.png) 50% no-repeat;
  background-size: contain;
}

.zh {
  width: 30px;
  height: 30px;
  background: url(../img/china.png) 50% no-repeat;
  background-size: contain;
}

#english:hover {
  background-color: #9c27b0;
  color: white;
}

#chinese:hover {
  background-color: #9c27b0;
  color: white;
}

