::-webkit-scrollbar {
  width: 0px !important;
}

.container {
  max-width: 1280px;
}

.en {
  width: 30px;
  height: 30px;
  background: url(../img/united-states.png) 50% no-repeat;
  background-size: contain;
}

.zh {
  width: 30px;
  height: 30px;
  background: url(../img/china.png) 50% no-repeat;
  background-size: contain;
}

.avenir-heavy {
  font-family: Avenir Heavy;
}

.avenir-book {
  font-family: Avenir Book
}

.avenir-black {
  font-family: Avenir Black
}



