::-webkit-scrollbar {
    width: 0px !important;
}

.en {
    width: 30px;
    height: 30px;
    background: url(../img/united-states.png) 50% no-repeat;
    background-size: contain;
}

.zh {
    width: 30px;
    height: 30px;
    background: url(../img/china.png) 50% no-repeat;
    background-size: contain;
}

#english:hover {
    background-color: #9c27b0;
    color: white;
}

#chinese:hover {
    background-color: #9c27b0;
    color: white;
}

._box-shadow {
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}

.common-box-shadow {
    box-shadow: 0px 1px 6px 0px rgba(21, 34, 50, 0.04);
}

.common-card {
    box-shadow: 0px 1px 6px 0px rgba(21, 34, 50, 0.04);
}

.common-btn {
    min-width: 105px;
}

.sidebar {
    box-shadow: 0px 1px 6px 0px rgba(21, 34, 50, 0.04);
}

.inputTransition {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightgrey;
}

.inputTransition:after,
.inputTransition:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    z-index: -2;
    box-sizing: content-box;
}

.inputTransition:hover {
    z-index: 1;
    border-bottom: 1px solid lightgrey;
}

.inputTransition:before {
    transition: 1s;
    border-bottom: 1px solid black;
    z-index: -1;
}

.inputTransition:hover:after,
.inputTransition:hover:before {
    width: 100%;
}

.truncate {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin-bottom: 2px;
}

.truncate_left {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate_right {
    white-space: nowrap;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
}

.dot_red {
    background-color: red;
}

.dot_orange {
    background-color: orange;
}

.dot_blue {
    background-color: blue;
}

.edit,
.change,
.cash,
.withdraw_deposit,
.transfer_exchange {
    button {
        line-height: 15px;
    }
}

.search {
    height: 40px;
}

.copied_sidebar_show_false {
    margin-left: 0rem;
}

.copied_sidebar_show_true {
    margin-left: 16rem;
}

.unit_color {
    color: #5a607f;
}

#fileControl {
    width: calc(100% - 16rem);
    bottom: -5rem;
    transition: bottom 1s;
    -moz-transition: bottom 1s;
    /* Firefox 4 */
    -webkit-transition: bottom 1s;
    /* Safari and Chrome */
    -o-transition: bottom 1s;
    /* Opera */
}

.cheques-tab-item {
    min-width: 100px;
}

@media (max-width: 768px) {
    .modal_center {
        width: calc(100% - 2rem);
    }

    .s3-api-operate {
        width: 100%;
    }

    .select-body {
        width: 100% !important;
        max-width: 100%;
        margin-right: 0;
    }
}

.helvetica {
    font-family: Helvetica;
}

.helvetica-b {
    font-family: Helvetica-Bold, Helvetica;
}

.align-top {
    vertical-align: top;
}

.fill-white {
    fill: #fff;
}

.monospaced-font {
    font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
}

.select-dropdown-body {
    .rc-virtual-list-holder {
        overflow: auto !important;
    }

    ::-webkit-scrollbar {
        width: 5px !important;
        height: 3px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f6f6f8;
        background-clip: content-box;
        border-radius: 1em;
    }

    ::-webkit-scrollbar-thumb {
        box-sizing: border-box;
        border-radius: 1em;
        background-color: #a1a7c4;
    }

}


.encrypt_upload_select {
    .ant-radio-button-wrapper {
        width: 50%;
        text-align: center;
        height: 38px;
        line-height: 36px;
        border-color: #3257f6;
        color: #3257f6;
    }

    .ant-radio-button-wrapper:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    .ant-radio-button-wrapper:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    &.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: #3257f6;
        border-color: #3257f6;
    }

}

.common-input.random_key {
    // height: 36px;
    // background: #ffffff;
    // box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.03);
    // border-radius: 12px;
    // opacity: 0.99;
    // border: 1px solid #d7dbec;
    // transition: all 0.5s;
    padding: 4px 4px 4px 11px;

    &:hover {
        border-color: #d7dbec !important;
    }

    .get_key_btn.ant-btn {
        // width: 239px;
        height: 30px;
        background: #888faf;
        border-radius: 15px;
        margin-top: 0;
        line-height: 30px;
        color: #fff;

        .ant-btn-icon {
            line-height: 30px;
            vertical-align: text-bottom;
        }

        .key_img {
            width: 14px;
            height: 14px;
            margin-right: 6px;
        }

        &:hover {
            background: #3257f6 !important;
        }
    }
}

.dark .common-input.random_key {
    &:hover {
        border-color: #21242c !important;
    }

    .ant-input {

        border-color: #21242c;
        background-color: #161921;
    }

    .get_key_btn.ant-btn {
        border-color: rgba(0, 0, 0, 0);
    }
}


.login-bg {
    // background:;
    background: #F2F5F7 url(../img/background.png) no-repeat right;
    background-size: contain;

}

.dark .login-bg {
    background: #1a2c5d;
    // background: #161921;

    //   url(../img/background.png)  no-repeat right;
    background-size: contain;

}

.login-form {
    padding-left: 5.5rem;
}

.login-title {
    font-family: Gilroy, Gilroy;
    font-weight: bold;
    font-size: 36px;
    color: #171418;
    line-height: 43px;
    text-align: left;
    font-style: normal;
    margin-bottom: 15px;
}

.login-desc {
    font-family: PingFangSC, PingFang SC;
    font-weight: 600;
    font-size: 15px;
    color: #232427;
    line-height: 21px;
    text-align: left;
    font-style: normal;
    margin-bottom: 55px;
}

.min-h-400 {
    min-height: 400px;
}

.max-w-450px {
    max-width: 450px;
}

.min-w-334px {
    min-width: 334px;

}

.login-form-w-334px {
    width: 334px;

}

.login-btn {
    min-width: 155px;
    font-size: 14px;
    font-weight: bold;
}


.dark .ant-form-item .ant-input,
.dark .ant-input-affix-wrapper {
    background-color: transparent !important;
    color: #fff;
    border-color: #21242c;
}


.account-lock {
    .lock-img-hover {
        display: none
    }

    .lock-img {
        display: block
    }

    &:hover {
        .lock-img {
            display: none
        }

        .lock-img-hover {
            display: block
        }
    }
}


.uploaded-cid-card {
    background: #F9F9F9;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    border: 1px solid #E6E8EC;
    opacity: 0.99;

}


@media (max-width: 768px) {
    .login-bg {
        display: none;
    }

    .login-form {
        width: 100vw;
        padding-left: 0;
        justify-content: center;
        background: #F2F5F7 url(../img/background.png) no-repeat right top;
        background-size: contain;
    }

    .dark .login-form {
        background: rgba(0, 0, 0, 0) // background: #F2F5F7 url(../img/background.png) no-repeat right top;
    }

    .login-form-w {
        width: 90vw;
    }

}

.ant-notification-notice.login-notification-error {
    .anticon.anticon-close-circle {
        // position: static;
        top: auto;
        right: auto;
    }
}

.icon-cheques {
    font-size: 0.6rem;

}

.dark .anticon.ant-notification-notice-icon-error {

    color: #ff4d4f;
}

.dark .ant-notification-notice-description {
    color: #fff;
}

.dark .ant-message-notice-content {
    background: rgba(0, 0, 0, .85);
    color: #fff;
}

.dark .ant-message-error .anticon {
    color: #ff4d4f;
}

.hover-change {
    .hover-hidden {
        display: block;
        transition: .3s;

        &.show {
            display: block;
        }

        &.hidden {
            display: none;
        }
    }

    .hover-show {
        display: none;
        transition: .3s;

        &.show {
            display: block;
        }

        &.hidden {
            display: none;
        }
    }

    &:hover {
        .hover-hidden {
            display: none;
        }

        .hover-show {
            display: block;
        }
    }

}


.radio-style-tabs .ant-tabs-nav::before {
    border-bottom: none !important;
}

.radio-style-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
    justify-content: center
}

.radio-style-tabs .ant-tabs-tab {
    border: 1px solid #3257f6;
    // border-radius: 6px;
    background: #fafafa;
    padding: 4px 16px;
    //   margin-right: 8px;
    margin: 0;
    min-width: 150px;
    color: #3257f6;
    justify-content: center;
    transition: all 0.2s;



    &:first-of-type {
        border-radius: 6px 0 0 6px;
        border-right: 0;
    }

    &:nth-child(2) {
        border-radius: 0 6px 6px 0;
    }
}



.radio-style-tabs .ant-tabs-tab.ant-tabs-tab-active {
    border-color: #3257f6;
    background: #3257f6;

    &:hover {
        background: #5b78f7;
    }
}

.radio-style-tabs .ant-tabs-ink-bar {
    display: none;
}

.radio-style-tabs .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

.radio-style-tabs .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn:hover {
    color: #5b78f7;
}

.radio-style-tabs .ant-tabs-ink-bar {
    display: none;
}


.ant-select.common-table-head-select {
    height: 20px;
    line-height: 20px;

    .ant-select-selector {
        padding: 0 11px 0 0;
    }

    .ant-select-selector,
    .ant-select-selection-item {
        height: 20px !important;
        line-height: 20px !important;
        color: #a1a7c4;

    }
}

.info-modal {
    max-height: 350px;
    overflow-y: auto;
    line-height: 16px;
    font-size: 12px;
    font-family: SFMono-Regular, ui-monospace, Consolas, 'Liberation Mono', Menlo, monospace;

    p {
        // margin: 0;
        // margin-block-start: 0em;
        // margin-block-end: 0em;
        // margin-inline-start: 0px;
        // margin-inline-end: 0px;
    }

}


.ant-input-number.ant-input-number-in-form-item.common-input {
    border: none;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 0;

    &:focus,
    &:focus-within,
    &.focused {
        box-shadow: none !important;
        outline: none !important;
    }

    .ant-input-number-handler-wrap {
        display: none !important;
    }

    .ant-input-number-input {
        height: 2.25rem;
    }

}


.ant-input-number-group-wrapper.common-input {
    padding: 0;
}

.ant-input-number-group-wrapper.common-input .ant-input-number-group-addon {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}



.table-page-content-light {
    .ant-table{
        height: 300px
        }
    .ant-table-tbody>tr>td,
    .ant-table-thead>tr>th,
    .ant-table tfoot>tr>td,
    .ant-table tfoot>tr>th {
        padding: 10px 16px;
        min-width: 80px !important;
    }

    .ant-table-thead>tr>th {
        padding: 0.5rem 1rem;
        background-color: #f2f5f7;
    }

    .ant-table-tbody>tr>td {
        // padding: 0.5rem 1rem;
    }


}

.table-pagination-total.ant-table-pagination {
    margin: 16px 0 0 0;
    .ant-pagination-item,
    .ant-pagination-total-text {
        flex: auto
    }
}

.common-table-body-td .table-cell-actions {
    max-height: 24px;
    display: inline-block;
}
