.popover-menu {
  width: 300px;

  button.lang {
    margin: 16px auto;
    float: none;
  }

  div.version {
    margin: 32px auto 16px;
    float: none;
  }

  .ant-popover-inner {
    overflow: hidden;

    &-content {
      padding: 0;
    }
  }
}

.ant-select-selector {
  border-radius: 5px;
}

.ant-select-selector {
  height: 40px !important;
}

.ant-select-selection-item {
  line-height: 40px !important;
}

.ant-tooltip {
  max-width: 500px !important;
}

.ant-modal-content,
.ant-modal-body {
  border-radius: 16px;
}

.ant-modal-body {
  padding: 0;
}

.anticon-close-circle {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.ant-message-notice-content {
  border-radius: 0.375rem;
  .ant-message-custom-content {
    display: flex;
    align-items: center;
    .anticon {
      position: static;
    }
  }
}
