button:focus {
  outline: none;
}

.break-all {
  word-break: break-all;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.overflow-overlay {
  overflow: overlay;
}

.grow {
  flex-grow: 1;
}

.grow-0 {
  flex-grow: 0;
}

.text-indigo-500 {
  color: rgb(99 102 241);
}

.m-auto {
  margin: auto;
}

.z-100 {
  z-index: 100;
}

.text-blue {
  color: blue;
}

.text-green-500 {
  color: rgb(34 197 94);
}

.text-green-400 {
  color: rgb(142, 197, 162);
}

.text-red-400 {
  color: rgb(234, 62, 10);
}

.text-red-500 {
  color: rgb(232, 10, 10);
}

.line-height-7px {
  line-height: 7px;
}

.w-50-px {
  width: 50px;
}

.w-120-px {
  width: 120px;
}

.h-180-px {
  height: 180px;
}

.h-125-px {
  height: 125px;
}

.h-180-px {
  height: 180px;
}

.h-150-px {
  height: 150px;
}

.h-75-px {
  height: 75px;
}

.h-200-px {
  height: 200px;
}

.h-80-px {
  height: 80px;
}

.h-35-px {
  height: 35px;
}

.h-90-px {
  height: 90px;
}
.h-600-px{
  height: 530px;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/4 {
  width: 25%;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-18 {
  margin-top: 4.5rem;
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem;
}

.rounded-br {
  border-bottom-right-radius: 0.25rem;
}

.rounded-tl {
  border-top-left-radius: 0.25rem;
}

.rounded-tr {
  border-top-right-radius: 0.25rem;
}

.border-r {
  border-right-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.h-100-px {
  height: 100px;
}

.bg-green-900 {
  background-color: rgba(6, 78, 59);
}

.left-20-px {
  left: 20px;
}

.right-20-px {
  right: 20px;
}

.active\:text-white:active {
  color: white;
}

.active\:bg-lightBlue:active {
  background-color: lightblue;
}

.left-1\/2 {
  left: 50%;
}

.mt-important {
  margin-top: 10px !important;
}

.float-right {
  float: right;
}

.bg-opacity-50 {
  opacity: 0.5;
}

.bg-gray {
  background-color: lightgray;
}

.bg-blue{
    background-color: #2E5EBB;
}

.bg-gray-500 {
  background-color: rgb(107 114 128);
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.transform-x-50 {
  transform: translateX(-50%);
}

.right-4 {
  right: 1rem;
}

.inline {
  display: inline;
}

.invisible {
  visibility: hidden;
}

.h-50-px {
  height: 50px;
}

.h-300-px {
  height: 300px;
}

.h-400-px {
  height: 400px;
}

.h-450-px {
  height: 450px;
}

.w-600-px {
  width: 600px;
}

.border-1 {
  border-width: 1px;
}

.hover\:border-blue-500:hover {
  border-color: #4299e1;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

@media (min-width: 768px) {

  .md\:break-all {
    word-break: break-all;
  }
  .md\:left-64 {
    left: 16rem;
  }
  .detail_wrap {
    width: calc(100% - 16rem);
  }
  .md\:pr-4 {
    padding-right: 1rem;
  }
  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .md\:pr-2 {
    padding-right: 0.5rem;
  }
  .md\:pl-2 {
    padding-left: 0.5rem;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-1\/3 {
    width: 33.3333333%;
  }
  .md\:w-2\/5 {
    width: 40%;
  }
  .md\:right-0 {
    right: 0;
  }
  .md\:mt-2 {
    margin-top: 0.5rem;
  }
  .md\:mb-2 {
    margin-bottom: 0.5rem;
  }
  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .lg\:justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .xl\:w-2\/12 {
    width: 16.666667%;
  }
  .xl\:w-9\/12 {
    width: 75%;
  }
  .xl\:w-3\/12 {
    width: 25%;
  }
  .xl\:mb-0 {
    margin-bottom: 0rem;
  }
  .xl\:mt-4 {
    margin-top: 1rem;
  }
  .xl\:pr-2 {
    padding-right: 0.5rem;
  }
  .xl\:pl-2 {
    padding-left: 0.5rem;
  }
}



