@import 'color.scss';
// antd theme light
.ant-btn {
  line-height: 1;
  border-color: #D7DBEC;
  color: #5A607F;

  &:hover {
    color: $base-color;
    border-color: $base-color;
  }
}


// antd theme dark
.dark {
  .ant-btn {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
  }

  .ant-progress-outer {
    .ant-progress-inner {
      background-color: lightblue;
    }
  }
  .ant-progress-text {
    color: lightblue !important;
  }
  .ant-select-selector {
    background-color: lightblue !important;
  }
  .ant-pagination-simple-pager, .anticon {
    color: white;
  }
  .ant-pagination-simple-pager input {
    color: black;
  }
  .anticon:hover {
    color: #1890ff !important;
  }
  .ant-pagination-disabled .anticon{
    color: gray !important;
  }

  .ant-progress-outer {
    .ant-progress-inner {
      background-color: lightblue;
    }
  }
}
