
.dark {
  .ant-progress-outer {
    .ant-progress-inner {
      background-color: lightblue;
    }
  }
  .ant-progress-text {
    color: lightblue !important;
  }
  .ant-select-selector {
    background-color: lightblue !important;
  }
  .ant-pagination-simple-pager, .anticon {
    color: white;
  }
  .ant-pagination-simple-pager input {
    color: black;
  }
  .anticon:hover {
    color: #1890ff !important;
  }
  .ant-pagination-disabled .anticon{
    color: gray !important;
  }
}

.copied_light .ant-message-notice-content {
  border-radius: 5px;
  .anticon {
    top: -2px !important;
  }
}

.copied_dark .ant-message-notice-content {
  background: lightblue;
  border-radius: 5px;
  .anticon {
    top: -2px !important;
  }
}

input.dark {
  background: lightblue !important;
}

.text-black-900 {
  color: #131523;
}

.text-gray-900 {
  color: #5A607F;
}